/*
CSS reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
body {
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container {
  margin: auto;
}

/* prvi dio stranice logo-navigacija-naslov(Trip App) ---- */
#logo {
  float: left;
  padding: 50px 0px 0px 150px;
}
#header {
  clear: both;
  text-align: center;
}
#navi {
  float: right;
  text-align: right;
  padding-top: 35px;
  margin-bottom: -30px;
  padding-right: 90px;
  font-size: 24px;

}

/* ---------- divovi za login i registraciju ----------- */
#login , #registracija_form , #profil , #dodavanje_izleta_form , #izlet_form {
  clear: both;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 850px;
  background-color: rgba(255,244,233,0.70);
  border-radius: 20px;
  color: #005278;
  border: 1px solid #005278;
  margin: auto;
  text-align: center;
}

/* -------- footer div -------*/
#footer {
  width: 750px;
  color: #FFF;
  margin: auto;
  text-align: center;
  margin-top: 120px;
}

/* ------ divovi sa stranice profila ------- */
#profil {
  height: 700px;
}
#slika {
  float:left;
  width: 300px;
  text-align: center;
}
#podaci {
  float: left;
  text-align: left;
  padding-top: 50px;
}

/* ------ divovi sa stranice popis izleta ------- */
#popis_izleta {
  clear: both;
  padding-top: 30px;
}

/* ------ divovi sa stranice dodavanje izleta ------- */
#dodavanje_izleta {
  clear: both;
  padding-top: 30px;
}
#dodavanje_izleta_form {
  padding-top: 30px;
}
#izleti {
  clear: both;
  padding-top: 30px;
}
#izlet_form {
  padding: 30px;
  color: #4B4B4B;
  text-align: left;

}

/* ------- KLASE ----- */
/* ---- klasa glavnog naslova Trip App ------- */
.main_header {
  font-size: 85px;
  font-weight: bold;
  font-family: 'Charm', cursive;
  text-align: center;
  color: #FFF;
}
/* ---- klasa za sliku loga ---- */
.logo_slika {
  width: 150px;
  height: 150px;
  margin-bottom: -50px;
  margin-top: -40px;
  padding-left: 70px;
}
.button_class {
  background-color: #005278;
  color: #FFF;
  width: 250px;
  border: 1px solid #1B2D39;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  margin:10px;
  outline:none
}
.izlet {
  width: 900px;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #005278;
  border-radius: 15px;
  background-color: rgba(255,244,233,0.80);
}

.izlet_naslov {
  color: #FFF;
  text-align: center;
  padding-top: 50px;
  font-size: 42px;
}
.slika_izleta {
  width: 350px;
  height: 300px;
  border-radius:  15px 0px 0px 15px;
  float:left;
  margin-right: 20px;
}
.opis_izleta {
  color: #808080;
  text-align: center;
  padding-top: 5px;
  padding-left: 20px;
  text-align: left;
  padding-left: 20px;
}
.plava_boja {
  color: #0059B1;
}
.bold_text {
  font-weight: bold;
}
.saznaj {
  color: #005278;
  text-align: right;
  padding-right: 10px;
}
.crta {
  width: 120px;
	border-color: #005278;
	border-width: 2px;
	margin-bottom: 30px;
}
/* ------ klasa za recenicu iznad regitracija buttona ------ */
.registracija_rec {
  margin-bottom: 5px;
  padding-top: 20px;
}

.popis_izleta_naslov {
  text-align: center;
  color: #FFF;
  font-size: 45px;
}


/* ------- ZAVRSETAK KLASA -------- */

ul li {
  display: inline;
  padding: 25px;
  color: #FFF;
  text-decoration: none;
}
a {
  color: #FFF;
  text-decoration: none;
}
a.navi:link {
	text-decoration: none;
	color: #000;
}
a.navi:visited {
	color: #000;
	text-decoration: none
}
a.navi:hover {
	font-weight: bold;
}
p {
  font-size: 20px;
}
input , textarea {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  width: 250px;
  border: 1px solid #1B2D39;
  font-size: 16px;
  color: #1B2D39;
  text-align: center;
}
input:focus {
    outline:none !important;
}
textarea:focus {
  outline:none !important;
}
textarea {
  width: 450px;
  text-align: left;
}
#dodavanje_izleta input {
  width: 450px;
}

label {
  padding-bottom: 5px;
}
iframe {
  width: 850px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18.72px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 13.28px;
}
h6 {
  font-size: 12px;
}
